@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.ttf') format('truetype');
}


*{

	margin:0;
	padding:0;

	--webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing:border-box;
	
	box-sizing: border-box;

	font-family: 'OpenSans';

}




header{

	background: url("../img/yo.jpg");

	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	height: 600px;
	
	text-align: center;
	
}


